/*Beskriver hur sidan ska se ut och vilken display det ska vara. Här bestäms hur gridlayout ska se ut.*/
body {
    display: grid;
    background-color: dimgray;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "header header"
    "nav nav "
    "main aside"
    "footer footer"
}

/*nämner alla grids för att kunna placera dem med hjälp av gird-template-areas.*/
header {
    grid-area: header;
}

footer {
    grid-area: footer;
    text-align: center;
}

aside {
    grid-area: aside;
}

main {
    padding-left: 15px;
    grid-area: main;
}

main p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*Style på länkarna i main a så att den blå färgen och underline försvinner.*/
main a {
    text-decoration: none;
    color: white
}

/*Gör en rubrik för alla sidor. Gör en underline och centrerar texten. Förstorar texten. */
h1 {
    text-align: center;
    font-size: xx-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

/* Hur navigationen ska se ut och vart dem kommer att ligga med hjälp av grid-area. backgrundsfärg som blir ljusgrå. width 100% gör att den tar upp hela sidan.*/
nav {
    grid-area: nav;
    width: 100%;
    background-color: lightgrey;
    overflow: auto;
}

/* Ändrar på texten i navigations menyn och hur texten ska se ut. Gör en float för att elementet ska placeras åt vänster om container. centrerar texten. Det blir en ruta runt om texten som är 12px. färg på text svart. Storlek är 17px och det är ingen dekoration på texten.*/
nav a {
    text-align: center;
    float: left;
    padding: 12px;
    color: black;
    font-size: 17px;
    text-decoration: none;
}

/*Hover. drar över så blir texten vitt och bakgrunden blir svart.*/
nav a:hover {
    background-color: black;
    color: white;
}

/*Använder en class på main för att inte blanda ihop dem andra main på de andra sidorna. Texten i mitten och storlek på den. Gör en float för att elementet ska placeras åt vänster om container. Centrerar texten och gör en ruta runt den med padding 10px 16px */
.ideologi {
    width: 70%;
    float: left;
    text-align: center;
    padding: 10px 60px;
}

/*För listan med mina intressen. Vänster padding med 15px.*/
.intro {
    padding-left: 15px;
}

/*Gör så att punkterna blir fyrkanter istället. Padding vänster 30px för att få avstånd.*/
ul {
    list-style-type: square;
    list-style-position: inside;
    padding-left: 30px;
}

/*en border som är 2px tjock och solid och som är svart. Den tar upp 70%.*/
.int-page {
    border: 2px solid black;
    width: 70%;
}

/*Alla rubriker på sidan ska ha en linje under texten och ska ha en snead text.*/
h1, h2, h3, h4 {
    text-decoration: underline;
    font-style: italic;
}

/*gör stilen till arial. Gör så att linjer tas bort med hjälp av collapse. tar upp 25%. En border på 2px tjock som är solid och har färgen svart. */
table {
    font-family: arial;
    border-collapse: collapse;
    width: 25%;
    border: 2px solid black;
}

/*Texten storlek på 20px. stil = arial. Och texten är ifylld som får en tjockare text.*/
aside p {
    font-size: 20px; 
    font-family: arial; 
    font-weight: bold;
}

/*3 stycken. Som hjälper med tabellen som gör en zebrastipning med hjälp av psuedoklasselektor. bakgrunden är blå på 2 och vitt på 1 och 3. På 2:an så är texten vit och på 1, 3 så är texten svart. */
tr:nth-child(2) {
    background-color: blue;
    color: white;
}

tr:nth-child(1) {
    background-color: white;
    color: black;
}

tr:nth-child(3) {
    background-color: white;
    color: black;
}

/*Placerar bilden med hjälp av 67% width.*/
.höns {
    width: 67%;
}